
.stuff {
    background-color: linen;
    color: black;
    padding: 10px;
} 

.two {
        background-color: linen;
        margin-left: 40px;
} 

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}

body {
    background-color: linen;
}
